<!DOCTYPE html>
<html>
    <head>
        
        {{stylesheets}}
		{{if href}}<link rel="stylesheet" href="{{href}}"/>{{else}}<style>{{contents}}</style>{{/if}}{{/stylesheets}}
		{{scripts}}<script{{if src}} src="{{src}}">{{else}}>{{contents}}{{/if}}</script>
		{{/scripts}}
        
    </head>
<body class="chrome-bootstrap">
	<div class="hello">
		<img src="assets/images/bean_bird_sleep.png"/>
		<h1 id="hello-msg"></h1>
		<div class="noEnyo">
			<h3>Here are some common reasons this happens:</h3>
			<ul>
				<li>This is not an EnyoJS application.</li>
				<li>You are using the file:// protocol (instead of http://)</li>
			</ul>
		</div>
	</div>
</body>
</html>